### 1. ExtractSource ###
Obtains the raw source code and its lexed counterpart; puts this into a .csv file along with SARD-NIST manifest data per instance.

In [3]:
import os, glob, subprocess, re, json
import pandas as pd
import numpy as np

In [6]:
dataset_path = (...)

In [11]:
def getRecords(dataset_path):

    dict = {'source':[],
            'lexed':[],
            'state':[],
            'cwe':[],
            'flawstart':[],
            'flawend':[],
       }
    df = pd.DataFrame(dict)

    list_subfolders_with_paths = [f.path for f in os.scandir(dataset_path) if f.is_dir()]
    for index, subfolder in enumerate(list_subfolders_with_paths):
        source = glob.glob(subfolder+'\\src\\*.php')[0]

        # 1. Obtain and clean source code
        with open(source, 'r', encoding='utf-8') as file:
            file_content = file.read()
            file_content = file_content.replace('= >', '=>')
            file_content = file_content.replace('checked_data', 'tainted')
            file_content = file_content.replace('tained', 'tainted')
        file.close()

        # 2. Extract tokens from source code
        output = subprocess.check_output(['php', 'process.php', file_content]).decode("utf-8")
        output = os.linesep.join([s for s in output.splitlines() if s])

        # 3. Extract manifest details
        manifest = glob.glob(subfolder+'\\manifest.sarif')[0]
        f = open(manifest, 'r', encoding='utf-8')
        data = json.load(f)
        f.close()

        state = data['runs'][0]['properties']['state']
        if state == 'good':
            startline = endline = None
            cwe = data['runs'][0]['artifacts'][0]['location']['uri'].split('_')[1]
        else:
            cwe = data['runs'][0]['results'][0]['taxa'][0]['id']
            startline = data['runs'][0]['results'][0]['locations'][0]['physicalLocation']['region']['startLine']
            if 'endLine' in data['runs'][0]['results'][0]['locations'][0]['physicalLocation']['region']:
                endline = data['runs'][0]['results'][0]['locations'][0]['physicalLocation']['region']['endline']
            else:
                endline = startline
        # 4. Add to dataset
        df.loc[index] = [file_content, output, state, cwe, startline, endline]
        if index % 500 == 0: print(str(index) + "/" + str(len(list_subfolders_with_paths)))
    return df

In [12]:
dataset = getRecords(dataset_path)
dataset

0/42212
500/42212
1000/42212
1500/42212
2000/42212
2500/42212
3000/42212
3500/42212
4000/42212
4500/42212
5000/42212
5500/42212
6000/42212
6500/42212
7000/42212
7500/42212
8000/42212
8500/42212
9000/42212
9500/42212
10000/42212
10500/42212
11000/42212
11500/42212
12000/42212
12500/42212
13000/42212
13500/42212
14000/42212
14500/42212
15000/42212
15500/42212
16000/42212
16500/42212
17000/42212
17500/42212
18000/42212
18500/42212
19000/42212
19500/42212
20000/42212
20500/42212
21000/42212
21500/42212
22000/42212
22500/42212
23000/42212
23500/42212
24000/42212
24500/42212
25000/42212
25500/42212
26000/42212
26500/42212
27000/42212
27500/42212
28000/42212
28500/42212
29000/42212
29500/42212
30000/42212
30500/42212
31000/42212
31500/42212
32000/42212
32500/42212
33000/42212
33500/42212
34000/42212
34500/42212
35000/42212
35500/42212
36000/42212
36500/42212
37000/42212
37500/42212
38000/42212
38500/42212
39000/42212
39500/42212
40000/42212
40500/42212
41000/42212
41500/42212
42000/42212

,source,lexed,state,cwe,flawstart,flawend
0,<?php\n/*\n/* \nUnsafe sample\ninput : backtic...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_VARIABL...,bad,862,51,51
1,<?php\n/*\n/* \nUnsafe sample\ninput : backtic...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_VARIABL...,bad,862,51,51
2,<?php\n/*\n/* \nSafe sample\ninput : backticks...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_VARIABL...,good,862,None,None
3,<?php\n/*\n/* \nUnsafe sample\ninput : backtic...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_VARIABL...,bad,862,51,51
4,<?php\n/*\n/* \nSafe sample\ninput : backticks...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_VARIABL...,good,862,None,None
...,...,...,...,...,...,...
42207,<?php\n/* \nUnsafe sample\nsanitize : error_re...,Line 1: T_OPEN_TAG <?php\r\nLine 44: T_STRING ...,bad,209,47,47
42208,<?php\n/* \nUnsafe sample\nsanitize : none\nco...,Line 1: T_OPEN_TAG <?php\r\nLine 48: T_VARIABL...,bad,209,48,48
42209,<?php\n/* \nSafe sample\nsanitize : none\ncons...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_IF if\r...,good,209,None,None
42210,<?php\n/* \nSafe sample\nsanitize : none\ncons...,Line 1: T_OPEN_TAG <?php\r\nLine 46: T_TRY try...,good,209,None,None
42211,<?php\n/* \nUnsafe sample\nsanitize : none\nco...,Line 1: T_OPEN_TAG <?php\r\nLine 47: T_TRY try...,bad,209,47,47

In [13]:
dataset.to_csv('dataset.csv', index=False)